@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #462A5A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: radial-gradient(circle farthest-corner at top left, #734593 0%, #5C3479 36%, #462A5A 100%);
  font-family: Arial, Helvetica, sans-serif;
}


html, body {
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden; /* Prevents default scrolling behavior */
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* Enables vertical snap scrolling */
}

section {
  height: 100vh;
  scroll-snap-align: start; /* Ensures each section snaps to the viewport */
}

.transition-all {
  transition: all 0.5s ease-in-out;
}
