@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: radial-gradient(circle farthest-corner at top left, #734593 0%, #5C3479 36%, #462A5A 100%);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1024px) {
  html, body {
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
  }

  .scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  section {
    height: 100vh;
    scroll-snap-align: start;
  }
}

@media (max-width: 1023px) {
  .scroll-container {
    height: auto;
    overflow-y: auto;
    scroll-snap-type: none;
  }

  section {
    height: auto;
    scroll-snap-align: none;
  }
}

/* Dark mode مع Tailwind class */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}
